<img src="/img/Androtchi.png" alt="" />




<form id="play">
  <button type="submit" class="btn">Play</button>
</form>

<form id="feed">
  <button type="submit" class="btn">Feed</button>
</form>

<form id="nap">
  <button type="submit" class="btn">Nap</button>
</form>


<!-- <p> Here are all the places you've been. Wow:</p>
<ul>
  <% @places.each() do |place| %>
  <li><%= place.destination()%></li>
  <% end %>
</ul> -->
